{% extends 'base.html.twig' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid banner" style="background-image: url(ressources/images/teddy.jpg)">
<h1 class="home_title">Teddy World</h1>
</div>
{% endblock content %}
