{% extends 'base.html.twig' %}

{% block title %}{% if editMode %}
edit category
{% else %}
add category
{% endif %}{% endblock %}

{% block content %}
<div class="container">
{{ form_start(categoryForm) }}

{{ form_row(categoryForm.name, {"attr": {"placeholder": "name of category"}}) }}

<button type="submit" class="btn btn-success">
    {% if editMode %}
    edit category
    {% else %}
    add category
    {% endif %}
</button>

{{ form_end(categoryForm) }}
</div>
{% endblock %}
