<form class="form-inline" action="{{path("search")}}" method="post">
    <div class="d-flex">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="nameProduct">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </div>
</form>